<p id="title">Hi, I'm YourName.</p>
<p id="description">AppDescription</p>
<div id="custom" column>
    <!--App Layout-->
</div>
<div id="icons" row>
    <img src="resources/svg/icons/social/github_icon.svg"
         onclick="window.location='https://github.com/';"
         alt="GitHub">
    <img src="resources/svg/icons/social/instagram_icon.svg"
         onclick="window.location='https://instagram.com/';"
         alt="Instagram">
    <img src="resources/svg/icons/social/facebook_icon.svg"
         onclick="window.location='https://facebook.com/';"
         alt="Facebook">
    <img src="resources/svg/icons/social/stackoverflow_icon.svg"
         onclick="window.location='https://stackoverflow.com/users/';"
         alt="StackOverflow">
    <img src="resources/svg/icons/social/stackexchange_icon.svg"
         onclick="window.location='https://stackexchange.com/users/';"
         alt="StackExchange">
    <img src="resources/svg/icons/social/twitter_icon.svg"
         onclick="window.location='https://twitter.com/';"
         alt="Twitter">
    <img src="resources/svg/icons/social/google_play_icon.svg"
         onclick="window.location='https://play.google.com/store/apps/dev?id=';"
         alt="Google Play">
</div>