<div id="custom" c>
    <!--App Layout-->
</div>
<div id="icons" r>
    <img src="resources/svg/icons/github_icon.svg"
         onclick="window.location='https://github.com/';"
         alt="GitHub">
    <img src="resources/svg/icons/instagram_icon.svg"
         onclick="window.location='https://instagram.com/';"
         alt="Instagram">
    <img src="resources/svg/icons/facebook_icon.svg"
         onclick="window.location='https://facebook.com/';"
         alt="Facebook">
    <img src="resources/svg/icons/stackoverflow_icon.svg"
         onclick="window.location='https://stackoverflow.com/users/';"
         alt="StackOverflow">
    <img src="resources/svg/icons/stackexchange_icon.svg"
         onclick="window.location='https://stackexchange.com/users/';"
         alt="StackExchange">
    <img src="resources/svg/icons/twitter_icon.svg"
         onclick="window.location='https://twitter.com/';"
         alt="Twitter">
    <img src="resources/svg/icons/google_play_icon.svg"
         onclick="window.location='https://play.google.com/store/apps/dev?id=';"
         alt="Google Play">
</div>